body{
    background-color: lightgoldenrodyellow;
}
h2{
    text-align: center;
}
.container{
    
    text-align: center;
    
    }
table{
    width: 100%;
    border: 1px solid lightskyblue;
}

th{
    border: 1px solid lightslategray;
    background-color: mediumaquamarine;

}
td{
    border: 1px solid
}